*.bak
*~

*.o
*.lo
*.la
*.so
*.aps
.deps
.libs
Makefile.in

*.depend
*.layout
*.res
*.user

win32/msvc2008/bin/
win32/msvc2008/obj/
win32/msvc2008/ipch/
win32/msvc2010/bin/
win32/msvc2010/obj/
win32/msvc2010/ipch/
win32/msvc2012/bin/
win32/msvc2012/obj/
win32/msvc2012/ipch/
win32/msvc2013/bin/
win32/msvc2013/obj/
win32/msvc2013/ipch/
win32/msvc2019/bin/
win32/msvc2019/obj/
win32/msvc2019/.vs/

*.suo
*.sdf
*.opensdf

_mongoose.dll
mongoose.lib
mongoose.exe
mongoose

documentation/_vti_cnf/
documentation/images/_vti_cnf/
documentation/styles/_vti_cnf/

log/
testclient.log

