[submodule "selectable-socketpair"]
	path = selectable-socketpair
	url = git@github.com:GerHobbelt/selectable-socketpair.git
[submodule "upskirt"]
	path = upskirt
	url = git@github.com:GerHobbelt/upskirt.git
[submodule "pthread-win32"]
	path = pthread-win32
	url = https://github.com/GerHobbelt/pthread-win32.git
